.user-even-pos {
  --bs-table-accent-bg: none;
  /* background-color:#7a91aa */
  /* background-color:rgba(0, 0, 0, .05); */
}

.user-even-pos:active,
.user-even-pos:hover {
  --bs-table-accent-bg: none;
  background-color: #ddd;
  cursor: pointer;
}

.user-odd-pos {
  --bs-table-accent-bg: none;
  /* background-color: #2C3845; */
}

.user-odd-pos:active,
.user-odd-pos:hover {
  --bs-table-accent-bg: none;
  background-color: #ddd;
  cursor: pointer;
}

td.urgencyLevel-Low {
  color: #00aa2b;
}
td.urgencyLevel-Medium {
  color: #0269ca;
}
td.urgencyLevel-High {
  color: #cc2b03;
}

.ticket-description {
  text-align: left;
  content: "sdsd";
  padding-left: 5px;
}
.ticket-description::before {
  content: "";
  margin-left: 20px;
}

.btnNewTicket {
  background-color: #509ad6;
  float: right;
}

.profile {
  /* position: absolute;
    top: 2px;
    left: 30px; */
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right:15px;
}
