.slide-in-up-enter {
  transform: translateY(-30%);
}

.slide-in-up-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 300ms;
}

.slide-in-up-exit {
  transform: translateY(0%);
  opacity: 1;
}

.slide-in-up-exit-active {
  transform: translateY(-30%);
  opacity: 0;
  transition: all 300ms;
}
