.subRight_container {
  padding-bottom: 8px;
  border-radius: 20px;
  width: 60%;

  text-align: center;
  position: relative;
  padding-bottom: 30px;
}

.boundaryLine {
  border-right: 5px solid #212529;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.subRight_container button {
  margin-top: 50px;
  width: 300px;
  height: 75px;
}
