.subLeft_container {
  padding-bottom: 8px;
  width: 40%;
  text-align: center;
}

.btnNewTicket {
  background-color: #509ad6;
  float:right
}

.modal {
  color: #444;
}

.modal-dialog {
  max-width: 600px;
}

.modal-content {
  /* border-radius: 40px; */
  border: 8px solid #212529;
  border-radius: 20px;
  text-align: center;
  background-color: #f7f7f7;
}

.modal-header {
  color: white;
  background: #212529;
  
  display: block;
  text-align: center;
  border: 0;
  
  margin-bottom: "100px";
}

.modal-body {
  padding: 0 0.85rem;
  font-size: 1.3rem;
  
}

.modal-footer {
  
  font-size: 1.1rem;
}

.form-group-sub-title {
  text-align: center;
  background-color: #f7f7f7;
  border: 8px none #212529;
  border-radius: 20px;
}

.col-sm-2 {
  width: 16.66666667%;
}
.col-sm-8 {
  width: 66.33333333%;
}

.col-sm-10 {
  width: 80.33333333%;
}

